:root {
    --orang: #f36805;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "NationalPark", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.d-none {
    display: none;
}
